* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;

  font-family: 'Syne', sans-serif;
  outline: none;
}

body {
  background-color: #ecfff2;
}

.container {
  padding: 0 3%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: none;
}

main,
section {
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

.active {
  pointer-events: all;
}

/* Efeito nav */

header.headerh {
  height: 50px;
}

header .logo h1.h1-less {
  font-size: 20px;
}

header .desktop ul li.li-less {
  padding: 0 2%;
  font-size: 15px;
}

/* Header */

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  background-color: #28a0b1;
  transition: 0.5s;
  position: fixed;
  z-index: 10;
}

header logo {
  width: 50%;
}

header .logo h1 {
  color: #ddffe7;
  transition: 0.5s;
  font-size: 27px;
}

header .desktop {
  width: 50%;
}

header .desktop ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header .desktop ul li {
  padding: 0 5%;
  font-size: 16px;
  font-weight: normal;
  transition: 0.5s;
}

header .desktop ul li a {
  width: 100%;
  text-decoration: none;
  color: #ddffe7;
}

header .desktop ul li a:hover {
  color: aquamarine;
}

header .desktop ul li a.select {
  font-weight: bold;
  color: white;
  border-bottom: 1px solid white;
  transition: 0.1s;
}

header .icon-bars {
  display: none;
}

/* Botão mobile */

.icon-bars {
  width: 30px;
  height: 21px;
  position: relative;
  cursor: pointer;
}

.bar {
  display: block;
  background-color: white;
  transition: 0.5s;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 9px;
}

.bar-top,
.bar-bottom {
  background-color: white;
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  transition: 0.5s;
}

.bar-top {
  top: 0;
}

.bar-bottom {
  bottom: 0;
}

.rotate {
  transform: rotate(45deg);
}

.rotate-top {
  transform: rotate(135deg);
  top: 9px;
}

.rotate-bottom {
  transform: rotate(135deg);
  bottom: 9px;
}

/* Menu Mobile */

header .mobile {
  visibility: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #28a0b1;
  transition: 0.5s;
  overflow-y: hidden;
  z-index: 11;
}

header .mobile-toggle {
  visibility: visible;
  height: 220px;
}

header .mobile ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header .mobile ul li {
  width: 100%;
}

header .mobile ul li:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

header .mobile ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

/* Main */

main {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  background-color: #28a0b1;
  width: 100%;
  height: 100vh;
}

main .text {
  width: 100%;
  height: 100%;
}

main .text h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  max-width: 55%;
  padding: 5% 10% 5% 5%;
  background: linear-gradient(
    -75deg,
    transparent 20%,
    transparent,
    rgba(0,0,0,0.7) 50%
  );

  text-shadow: 5px 5px 5px black;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: white;
  opacity: 1 !important;
}

/* Services */

section.services {
  text-align: center;
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
  padding: 20px 0;
  text-shadow: 1px 1px #28a0b1;
}

.services .services-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .service-single {
  max-width: 500px;
  min-width: 250px;
  margin: 5%;
  padding: 4%;
  border-radius: 2%;
  box-shadow: 2px 2px 20px #40ca8b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .service-single .img-service {
  width: 30%;
  border-radius: 5px;
}

.services .service-single h2 {
  padding: 2% 0;
  text-shadow: 0 0 2px #79f5bd;
  font-size: 22px;
}

.services .service-single .description {
  margin: 1% 2%;
  width: 70%;
}

p {
  font-size: 17px;
  font-weight: normal;
  line-height: 1;
}

/* Reformeds */
section.reformeds {
  text-align: center;
}

/* Slider */

.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 720px;
  height: 460px;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
  height: 460px;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 700px;
  max-height: 370px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #40ca8b;
}

.carousel .carousel__item--visible {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #008c9e;
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 20px;
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.carousel .balls {
  width: 100%;
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .balls .ball {
  width: 12px;
  height: 12px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s;
}

.carousel .balls .ball:hover {
  background-color: white;
  border: 1px solid black;
}

.carousel .balls .ball.checked {
  background-color: #008c9e;
}

.carousel .balls .ball:not(:last-child) {
  margin-right: 10px;
}

/* About */

section.about {
  text-align: center;
  padding: 50px 0;
}

.about .description-about {
  padding: 5%;
  border-radius: 2%;
  max-width: 90%;
  margin: 0 auto;
}

.about .description-about p {
  padding: 0.5% 0;
  text-align: left;
  text-indent: 2%;
  font-size: 18px;
}

/* Contact */

section.contact {
  text-align: center;
}

.contact .contacts-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .contacts-wrapper .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 8;
}

.contact .contacts-wrapper .contacts a {
  font-size: 35px;
  color: #28a0b1;
  text-shadow: 1px 2px 1px black;
  width: 50px;
  height: 50px;
}

.contact .contacts-wrapper .contacts a:hover {
  font-size: 50px;
  transition: 0.6s;
}

.contact .contacts-wrapper .contacts .email:hover {
  color: red;
}

.contact .contacts-wrapper .contacts .telefone:hover {
  color: blue;
}

.contact .contacts-wrapper .contacts .whatsapp:hover {
  color: green;
}

.contact .contacts-wrapper .contacts .local:hover {
  color: red;
}

.contact .contacts-wrapper .form-contact {
  width: 100%;
}

.contact .contacts-wrapper .form-contact h3 {
  font-size: 18px;
  padding-bottom: 10px;
}

.contact .contacts-wrapper .form-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.contact .contacts-wrapper .form-contact input {
  padding: 1%;
  margin: 1% 0;
  width: 60%;
  min-width: 200px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.contact .contacts-wrapper .form-contact input[type="submit"] {
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5%;
  cursor: pointer;
  color: white;
  background-color: #28a0b1;
  border: none;
  border-radius: 5%;
  box-shadow: none;
  min-width: 100px;
}

.contact .contacts-wrapper .form-contact input[type="submit"]:hover {
  background-color: #008c9e;
  transition: 0.5s;
  box-shadow: 0 0 10px black;
}

.contact .contacts-wrapper .form-contact textarea {
  padding: 1%;
  margin: 1% 0;
  width: 60%;
  min-width: 200px;
  min-height: 150px;
  font-size: 15px;
  resize: none;
  border-radius: 5px;
}

.contact .title-contact {
  padding: 10px;
  color: white;
  background-color: red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 95px;
  opacity: 0;
  transition: 0.5s;
  z-index: 8;
}

/* Footer */

footer {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #008c9e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer p {
  font-size: 16px;
  font-weight: normal;
}

/* Animação */
[data-animation] {
  opacity: 0;
}

[data-animation="top"] {
  transform: translate3d(0, -100px, 0);
}

[data-animation="left"] {
  transform: translate3d(-100px, 0, 0);
}

[data-animation="right"] {
  transform: translate3d(100px, 0, 0);
}

[data-animation="bottom"] {
  transform: translate3d(0, 100px, 0);
}

[data-animation].animation {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

/* Efeito sessões */
.shapedividers_com-6916 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-6916::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 168% 64px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 70.7"><g fill="%23ecfff2"><path d="M1837 71H0v-9c8 4 20 1 24-7 3-5 5-12 10-13a7 7 0 017 4c2 4 1 9 0 13 3 2 7 0 8-4l1-10c-1-4-2-8 1-11a5 5 0 017-2c2 2 2 6 2 9s1 8 6 7a6 6 0 003-4 8 8 0 013-4 2 2 0 013 3c0 2-1 5 1 7a4 4 0 004 2c3 0 4-4 4-7-1-2-2-5-1-8a4 4 0 011 0c1-3 5 0 4 3a10 10 0 000 6 5 5 0 005 3c3 0 4-3 4-5l-2-7c-3-4-5-8-5-12 0-5 2-11 7-13 4-1 9 1 9 5 1 3 0 5-2 8l-1 2a19 19 0 003 21 7 7 0 007 2c4-1 5-6 4-10V29c1-4 7-5 8-2l2 10c3 3 8 5 11 2a7 7 0 002-5l-3-9-1-4c-2-4-2-9 2-11a7 7 0 018 1c4 3 5 8 3 13v1c-1 4-4 8-3 13a9 9 0 0010 7c4-1 10-5 9-10v-2a33 33 0 00-1-8 42 42 0 00-2-7c-2-5-2-10 2-14 3-3 7-5 11-3a8 8 0 015 4c2 6-3 12-6 18a10 10 0 000 2 13 13 0 002 9c6 8 16 3 17-4a15 15 0 001-5l-1-7c-1-4 1-10 6-10a7 7 0 016 6c1 4 0 7-2 11-2 3-4 7-3 11a8 8 0 002 6c4 4 11 1 15-3 5-3 10-7 15-6 4 1 6 5 7 8 2 4 4 8 7 10a7 7 0 006 1c5-1 5-6 4-10l-4-9c0-4 3-9 7-7a6 6 0 014 4c1 5-2 9-2 14 0 4 4 8 8 5a6 6 0 001-5 104 104 0 001-19V15c0-6 7-9 11-5 3 3 4 7 4 12a23 23 0 01-1 3 50 50 0 01-3 9c-2 4-4 8-3 13 1 6 9 10 13 2a10 10 0 000-6c-1-5-1-12 5-13a6 6 0 015 3c3 4 1 9 2 14 1 3 4 6 8 5 4 0 7-4 7-9l2-12a10 10 0 015-6 6 6 0 015 0 6 6 0 011 0 7 7 0 013 5c1 5-2 9-3 14 0 3 1 7 4 9l2-9c3-4 8-7 12-2a8 8 0 011 3c2 3 1 7 0 11a18 18 0 0015-1l6-3a8 8 0 013 0 8 8 0 012 0l7 3a18 18 0 0015 1c-1-4-2-8-1-11a8 8 0 012-3c4-5 9-2 11 2 2 2 2 6 3 9 3-2 4-6 3-9 0-5-3-9-2-14a7 7 0 012-5c5-3 10 1 12 6l1 12c0 4 4 9 8 9 3 1 6-2 7-5 1-5 0-10 3-14a6 6 0 015-3c5 1 6 8 5 13a10 10 0 000 6c4 8 12 4 13-2 1-5-1-9-3-13s-4-8-4-12 1-9 4-12c4-4 11-1 11 5v29a6 6 0 002 5c3 3 8-1 8-5 0-5-3-9-2-14a6 6 0 014-4c4-2 7 3 6 7l-3 9c-1 4-1 9 3 10a7 7 0 006-1c4-2 6-6 7-10 2-3 4-7 7-8 6-1 11 3 15 6 5 4 11 7 16 3a8 8 0 002-6c0-8-7-14-6-22a7 7 0 016-6c5 0 7 6 7 10s-2 8-1 12c2 7 12 11 18 4a12 12 0 002-11c-3-6-9-12-7-18a8 8 0 015-4c5-2 9 0 12 3 4 4 4 9 2 14a37 37 0 00-3 15v2c-1 5 4 9 9 10a9 9 0 0010-8c1-4-2-9-4-13-1-5 0-10 4-14a7 7 0 018 0c4 2 4 7 2 11-1 4-4 8-4 13a7 7 0 002 4c3 4 8 2 10-2 2-2 2-6 2-9 2-3 7-1 9 2s0 7-1 11c0 4 1 9 5 10a7 7 0 007-2 19 19 0 003-21c-2-3-4-6-4-10 1-4 6-6 10-5 5 2 7 8 7 13l-5 12-2 7c-1 2 1 5 4 5a5 5 0 004-3 10 10 0 000-6c-1-3 3-6 5-3v8c0 3 0 7 3 7a4 4 0 005-2v-7a2 2 0 014-3 8 8 0 013 4 6 6 0 003 4c4 1 6-4 6-7s-1-7 2-8a5 5 0 017 1c3 3 2 7 1 11v10c1 3 6 6 9 4-1-4-2-9 0-13a7 7 0 017-4c5 1 7 8 9 13a13 13 0 0025 0c2-5 4-12 9-13a7 7 0 017 4c2 4 1 9 1 13 2 2 7 0 8-4V45c-1-4-1-8 2-11a5 5 0 016-2c3 2 2 6 2 9s2 8 6 7a6 6 0 004-4 8 8 0 012-4 2 2 0 014 3v7a4 4 0 005 2c3 0 3-4 3-7v-8c2-3 6 0 5 3a10 10 0 000 6 5 5 0 004 3c3 0 5-3 4-5l-2-7-5-12c0-5 2-11 8-13 4-1 8 1 9 5s-2 7-4 10a19 19 0 004 21 7 7 0 006 2c5-1 5-6 5-10-1-4-2-7-1-11s7-5 9-2c0 4 0 7 2 10s7 5 10 1a7 7 0 002-4c0-5-3-9-4-13s-1-9 3-11a7 7 0 017 0c5 4 5 9 4 14-2 4-5 9-4 13a9 9 0 0010 8c5-1 10-6 10-10v-2a37 37 0 00-4-15c-2-5-2-10 2-14 3-3 8-5 12-3a8 8 0 015 4c2 6-4 12-6 18a12 12 0 001 11c6 7 16 3 18-4 1-4-1-8-1-12s2-10 7-10a7 7 0 016 6c2 8-6 14-6 22a8 8 0 002 6c5 4 11 1 16-3s9-7 15-6c3 1 5 5 7 8 2 4 3 8 7 10a7 7 0 006 1c4-1 4-6 3-10l-3-9c0-4 2-9 6-7a6 6 0 014 4c1 5-2 9-2 14 0 4 5 8 8 5a6 6 0 002-5V15c0-6 7-9 11-5h1c3 3 4 7 3 12l-4 12c-2 4-4 8-3 13 1 6 9 10 13 2a10 10 0 000-6c-1-5 0-12 5-13a6 6 0 016 3c2 4 1 9 2 14 1 3 4 6 7 5 4 0 7-4 8-9l1-12c2-5 7-9 12-6a7 7 0 012 5c1 5-1 9-2 14-1 3 0 7 3 9 1-3 1-7 3-9 2-4 7-7 11-2a8 8 0 012 3c1 3 0 7-1 11a18 18 0 0015-1l7-3a16 16 0 015 0l6 3a18 18 0 0015 1c-1-4-2-8 0-11a8 8 0 011-3c4-5 9-2 12 2 2 2 2 6 2 9 3-2 4-6 4-9-1-5-3-9-3-14a7 7 0 013-5c4-3 10 1 11 6l2 12c1 4 3 9 8 9 3 1 6-2 7-5 1-5 0-10 2-14a6 6 0 015-3c6 1 6 8 5 13a10 10 0 001 6c3 8 11 4 12-2 1-5-1-9-3-13l-4-12c-1-4 1-9 4-12 4-4 12-1 12 5s-2 18 0 29a6 6 0 001 5c4 3 8-1 8-5 1-5-2-9-1-14a6 6 0 013-4c4-2 7 3 7 7l-3 9c-2 4-1 9 3 10a7 7 0 006-1c4-2 5-6 7-10 1-3 4-7 7-8 5-1 10 3 15 6s11 7 15 3a8 8 0 003-6c0-8-8-14-6-22a7 7 0 016-6c5 0 7 6 6 10v12c1 7 12 11 17 4a13 13 0 002-11c-3-6-8-12-6-18a8 8 0 015-4c4-2 8 0 11 3 4 4 4 9 2 14a37 37 0 00-3 15v2c0 4 5 9 9 10a9 9 0 0010-8c1-4-2-9-3-13-1-5-1-10 3-14a7 7 0 018 0c4 2 4 7 3 11-2 4-5 8-5 13a7 7 0 002 4c4 4 9 2 11-2l2-9c1-3 7-1 8 2s0 7 0 11c-1 4 0 9 4 10a7 7 0 007-2 19 19 0 003-21c-1-3-4-6-3-10s5-6 9-5c5 2 8 8 7 13 0 4-2 8-4 12-2 2-3 4-3 7 0 2 1 5 5 5a5 5 0 004-3 10 10 0 000-6c-1-3 3-6 5-3v8c-1 3 0 7 3 7a4 4 0 004-2c2-2 1-5 1-7a2 2 0 013-3 8 8 0 013 4 6 6 0 003 4c5 1 6-4 6-7s0-7 2-8a5 5 0 017 1c3 3 2 7 2 11-1 4-2 7 0 10s5 6 8 4c-1-4-2-9 0-13a7 7 0 017-4c6 1 7 8 10 13s9 9 15 9 13-4 16-9c2-5 4-12 9-13a7 7 0 017 4c2 4 1 9 0 13 3 2 7 0 9-4s0-6 0-10c-1-4-2-8 1-11a5 5 0 017-2c3 2 2 6 2 9s1 8 6 7a6 6 0 003-4 8 8 0 013-4 2 2 0 014 3v7a4 4 0 004 2c4 0 4-4 4-7-1-2-2-5 0-8 1-3 5 0 5 2a10 10 0 000 7 5 5 0 004 3c3 0 5-3 4-5l-2-7c-2-4-5-8-5-12 0-5 2-11 7-13 4-1 9 1 10 5 0 4-2 7-4 10a19 19 0 003 21 7 7 0 007 2c4-1 5-6 4-10V29c1-3 7-5 9-2 0 3 0 7 2 10s7 5 10 2a7 7 0 002-5c0-5-3-9-4-13-2-4-2-9 2-11a7 7 0 018 0c4 4 5 9 3 14-1 5-4 9-3 14a9 9 0 0010 7c5-1 10-5 9-10v-2a37 37 0 00-3-15c-2-5-2-10 2-14 3-3 7-5 12-3a8 8 0 015 4c2 6-4 12-7 18a13 13 0 002 11c6 7 16 3 18-4 1-4-1-8-1-12s2-10 6-10a7 7 0 016 6c2 8-5 14-5 22a8 8 0 002 6c5 4 11 1 16-3 4-3 9-7 14-6 4 1 6 5 7 8 2 4 4 8 8 10a7 7 0 006 1c4-1 4-6 3-10-1-3-3-6-3-10-1-3 2-8 6-6a6 6 0 014 4c1 5-2 9-2 14 0 4 5 8 8 5a6 6 0 002-5V15c0-6 7-9 11-5 3 3 4 7 4 12s-2 8-4 12-4 8-3 13 9 10 13 2a10 10 0 000-6c-1-5 0-12 5-13a6 6 0 015 3c3 4 1 9 3 14 0 3 4 6 7 5 4 0 7-4 8-9l1-12c2-5 7-9 11-6a7 7 0 013 5c1 5-2 9-2 14-1 3 0 7 3 9 0-3 1-7 3-9 2-4 7-7 11-2a8 8 0 012 3c1 3 0 7-1 11a18 18 0 0015-1l6-3a8 8 0 013 0 8 8 0 013 0l6 3a18 18 0 0015 1c-1-4-2-8-1-11a8 8 0 012-3c4-5 9-2 12 2l2 9c3-2 4-6 3-9 0-5-3-9-2-14a7 7 0 013-5 6 6 0 011 0 6 6 0 015 0 10 10 0 015 6l2 12c1 4 3 9 7 9 4 1 7-2 8-5 1-5-1-10 2-14a6 6 0 015-3c5 1 6 8 5 13a10 10 0 000 6c4 8 12 3 13-2s-1-9-3-13a50 50 0 01-3-9 24 24 0 01-1-3c0-5 1-9 4-12 4-4 11-1 11 5v10a105 105 0 000 19 6 6 0 002 5c4 3 8-1 8-5 0-5-3-9-2-14a6 6 0 014-4c4-2 7 3 6 7l-3 9c-1 4-1 9 4 10a7 7 0 006-1c3-2 5-6 7-10 1-3 3-7 7-8 5-1 10 3 14 6 3 3 8 5 11 5v27z"/></g></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-6916::before {
    background-size: 149% 83px;
    background-position: 50% 100%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-6916::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 111% 93px;
    background-position: 50% 100%;
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-6916::before {
    background-size: 111% calc(2vw + 93px);
  }
}

/* Responsividade */

/* 1600px */
@media screen and (min-width: 1600px) {
  .container {
    padding: 0 7%;
  }

  header .logo h1.h1-less {
    font-size: 30px;
  }

  header.headerh {
    height: 70px;
  }

  header .desktop ul li.li-less {
    font-size: 20px;
  }

  /* Header */

  header {
    height: 100px;
  }

  header .logo h1 {
    font-size: 35px;
  }

  header .desktop ul li {
    font-size: 22px;
  }

  /* Main */

  main .text  h1 {
    max-width: 1000px;
    font-size: 50px;
  }

  /* Services */

  .title {
    font-size: 40px;
  }

  .services .service-single {
    max-width: 700px;
    min-width: 250px;
    margin: 5%;
    padding: 4%;
  }

  .services .service-single h2 {
    font-size: 35px;
  }

  p {
    font-size: 23px;
  }

  /* Reformeds */
  /* Slider */

  .carousel {
    max-width: 1120px;
    height: 700px;
  }

  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    height: 700px;
  }

  .carousel .carousel__item img {
    max-width: 1100px;
    max-height: 600px;
  }

  .carousel .carousel__actions button {
    font-size: 20px;
    width: 50px;
    height: 50px;
  }

  .carousel .balls .ball {
    width: 15px;
    height: 15px;
  }

  /* About */

  .about .description-about p {
    font-size: 26px;
  }

  /* Contact */

  .contact .contacts-wrapper .contacts a {
    font-size: 60px;
    width: 70px;
    height: 70px;
  }

  .contact .contacts-wrapper .contacts a:hover {
    font-size: 70px;
  }

  .contact .contacts-wrapper .form-contact h3 {
    font-size: 30px;
  }

  .contact .contacts-wrapper .form-contact form {
    width: 90%;
  }

  .contact .contacts-wrapper .form-contact input {
    padding: 15px;
    font-size: 20px;
  }

  .contact .contacts-wrapper .form-contact input[type="submit"] {
    font-size: 30px;
  }

  .contact .contacts-wrapper .form-contact textarea {
    padding: 15px;
    font-size: 20px;
  }

  .contact .title-contact {
    left: 200px;
  }

  /* Footer */

  footer {
    height: 80px;
  }

  footer p {
    font-size: 20px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  [data-animation="top"] {
    transform: translate3d(0, -50px, 0);
  }

  [data-animation="left"] {
    transform: translate3d(-50px, 0, 0);
  }

  [data-animation="right"] {
    transform: translate3d(50px, 0, 0);
  }

  [data-animation="bottom"] {
    transform: translate3d(0, 50px, 0);
  }

  header .logo h1.h1-less {
    font-size: 20px;
  }

  header.headerh {
    height: 50px;
  }

  header .desktop ul {
    display: none;
  }

  header .desktop ul li.li-less {
    font-size: 20px;
  }

  header .icon-bars {
    display: block;
  }

  /* Header */

  header {
    height: 60px;
  }

  header .logo h1 {
    font-size: 25px;
  }

  /* Main */

  main {
    height: 60vh;
    background-size: cover;
    background-position-x: center;
  }

  main .text {
    background: rgba(0, 0, 0, 0.4);
  }

  main .text h1 {
    max-width: 100%;
    height: 60vh;
    background: none;
    text-align: center;
    font-size: 40px;
    max-width: 550px;
    margin: 0 auto;
  }

  /* Services */

  .title{
    font-size: 25px;
  }

  .services .services-wrapper {
    display: block;
  }

  .services .service-single {
    margin: 3%;
  }

  .aux {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  .services .service-single .img-service {
    width: 40%;
  }

  /* About */

  .about .description-about {
    padding: 3%;
    max-width: 100%;
  }

  /* .about .description-about p{
    font-size: ;
  } */

  /* Contact */

  .contact .contacts-wrapper {
    display: block;
  }

  .contact .contacts-wrapper .contacts {
    flex-direction: row;
    position: static;
    margin: 2% 0;
  }

  .contact .contacts-wrapper .form-contact form {
    width: 100%;
  }
  .contact .contacts-wrapper .form-contact input {
    width: 70%;
  }

  .contact .contacts-wrapper .form-contact input[type="submit"] {
    width: 20%;
  }

  .contact .contacts-wrapper .form-contact textarea {
    width: 70%;
  }

  .contact .title-contact {
    display: none;
  }

  .contact .contacts-wrapper .contacts a:hover {
    font-size: 35px;
    transition: none;
  }
  
  .contact .contacts-wrapper .contacts .email:hover {
    color: #28a0b1;
  }
  
  .contact .contacts-wrapper .contacts .telefone:hover {
    color: #28a0b1;
  }
  
  .contact .contacts-wrapper .contacts .whatsapp:hover {
    color: #28a0b1;
  }
  
  .contact .contacts-wrapper .contacts .local:hover {
    color: #28a0b1;
  }
}

/* 500px */

@media screen and (max-width: 500px) {

  header.headerh {
    height: 50px;
  }

  header .desktop ul {
    display: none;
  }

  header .desktop ul li.li-less {
    font-size: 20px;
  }

  header .icon-bars {
    display: block;
  }

  /* Main */

  main {
    background-size: cover;
    background-position-x: center;
  }

  main .text  h1 {
    max-width: 100%;
    font-size: 50px;
    text-align: center;
    font-size: 40px;
  }

  /* Services */

  .title {
    /* font-size: 30px; */
  }

  .services .services-wrapper {
    display: block;
  }

  .services .service-single {
    margin: 3%;
  }

  .aux {
    display: flex;
    flex-direction: column;
  }

  .services .service-single h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  /* Reformeds */

  .carousel {
    height: 350px;
  }

  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    height: 350px;
  }

  /* About */

  section.about {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }

  /* Contact */

  .contact .contacts-wrapper .form-contact form {
    width: 100%;
  }
  .contact .contacts-wrapper .form-contact input {
    width: 80%;
  }

  .contact .contacts-wrapper .form-contact input[type="submit"] {
    width: 20%;
  }

  .contact .contacts-wrapper .form-contact textarea {
    width: 80%;
  }
}
